.newUser {
  flex: 4;
  padding: 20px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserFormItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0 0;
}

.newUserFormItem > label,
span {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserFormItem > input {
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.newUserGenderContainer > input {
  margin-top: 15px;
}
.newUserGenderContainer > label {
  margin: 0 15px 0 3px;
  font-size: 18px;
  color: #555;
}

.newUserStatus {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}

.newUserButton {
  width: 200px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
