.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddBtn {
  width: 60px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}
.userShowImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
}

.userShowUserName {
  font-weight: 600;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowBottomTitle {
  font-size: 14px;
  font-weight: 600;
  color: #d4d4d4;
}

.userShwoInfo {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.userShwoInfoTitle {
  margin-left: 10px;
}

.userUpdate {
  flex: 2;
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  padding: 20px;
}

.userUpdateTitle {
  font-size: 22px;
  font-weight: 600;
}
.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.userUpdateLeft {
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  min-width: 250px;
  height: 30px;
  padding: 0 5px;
  border-bottom: 1px solid grey;
}

.userUpdateInput:focus {
  outline: none;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateAvatar {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
.uploadIcon {
  cursor: pointer;
}

.userUpdatorInput {
  display: none;
}
.userUpdateBtn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
